body {  
	margin: 0;  
	font-family: arial,helvetica,sans-serif;  
	background-color: #f0f0f0;
}  

.break{  
	clear:both;  
}

.fixedwidth{
	width: 1280px;
	margin: auto;
}

img{  
	float: left;  
	width: 350px;  
}  

@media (max-width: 768px){  
	img{  
	   float: none;  
	   width: 250px;  
	}  
	.con{  
	   margin-left: 0;  
	}  
	.kiri{  
	   width: 75%;  
	}  
	.border{  
	   padding-top: 20px;  
	   height: 400px;  
	}  
	.content{  
	   height: 1400px;  
	}  
}  

#header{
	height: 6em;
	color: black;
	width: 100%;
	background-color: #ffffff;
}

#title{
	padding-top: 0.1em;
	padding-left: 0.5em;
	font-size: 3em;
	margin-top: 0.2em;
	margin-bottom: 0;
	border-bottom: 5px solid #f0f0f0; 
}

#jargon{
	margin-top: 0;
	padding-top: 0.5em;
	font-size: 1em;
	padding-left: 1.7em;
	
}

#search{  
	float: right;  
	padding: 20px 10px 5px 0;  
}  

#search input{
	color: red;  
	height: 35px;  
	border: none;  
	font-size: 0.9em;  
	padding-left: 10px; 
	border-top: 5px solid #f0f0f0; 
	border-right: 5px solid #f0f0f0; 
	border-left: 5px solid #f0f0f0; 
} 

#menu {
	width: 100%;  
	border: 5px solid #ffffff;
	font-size: 130%;
}  
#menu ul {  
	background-color: #f0f0f0;  
	padding: 5px 0 0 5px;  
	margin: 0;  
	height: 20px;  
}  
#menu li {  
	list-style: none;  
	font-size: 0.8em;  
	border-right: 3px solid #ffffff;  
	padding: 0 30px 0 30px;  
	float: left;  
	background-color: none;  
}
#menu a{
	text-decoration: none;
	color: black;
}
/*a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
} */

#akun{
	float: right;
	border-left: 3px solid #ffffff;
}

.content{   
	margin-top: 50px; 
	height: 1020px;  
	padding: 0.1px; 
	color: #333;  
}  

.kiri{  
	width: 75%;  
	float: left;  
	height: 880px;  
}  

.kanan{  
	width: 20%;  
	float: right;  
	margin-top: 13px;
	margin-left: 7px;
	height: 500px;  
	text-align: right;  
	border-width: 10px;
	border-style: solid;
	border-color: white;
 }  

.kotak{  
	border: 2px solid rgb(192,192,192);
	background-color: #ffffff;  
	margin-top: 1pc;  
	padding-bottom: 1pc;  
	padding-left: 2pc;  
	padding-right: 2pc;  
	height: 220px;  
}  

.undercor{
	font-size: 130%;   
	border: 2px solid white;   
	padding: 5px;  
	background-color: white;  
	color: black;
	text-decoration: none;  
}    
